body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Rockwell, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.avatar {
    width: 150px;
    border-left: 5px solid #4B876A; 
    border-bottom: 5px solid #4B876A; 
    border-top: 5px solid #4B8E6E;
    border-right: 5px solid #4B8E6E;
    border-radius: 10px;
}

.card {
    width: 450px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center; 
    background: #4C4E4C;
    color: #0F0F0F;
    border-bottom: 6px solid #4B8E6E;
    border-left: 6px solid #4B8E6E;
    border-radius: 20px;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
